
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  margin: 0;
}
// cursor
html,body,a{
  cursor: none;
}
#cursor{
  transform: translate(0,0);
  pointer-events: none;
  position: fixed;
  top: -4px;    //座標調節（カーソル位置と円の中心を合わせる）
  left: -4px;   //座標調節（カーソル位置と円の中心を合わせる）
  width: 8px;   //カーソルの直径
  height: 8px;  //カーソルの直径
  background: rgb(15, 16, 14);
  border-radius: 50%;
  z-index: 999;
  transition: width .3s, height .3s, top .3s, left .3s;

  // &.hov_{
  //     top: -12px;    //大きくなった分の座標調節
  //     left: -12px;   //大きくなった分の座標調節
  //     width: 32px;   //カーソルの直径
  //     height: 32px;  //カーソルの直径
  //     background: rgba(200,50,50,0.75);
  // }
}
// stalker
#stalker {
  pointer-events: none;
  position: fixed;
  top: -15px;     //座標調節（カーソル位置と円の中心を合わせる）
  left: -15px;    //座標調節（カーソル位置と円の中心を合わせる）
  width: 30px;   //マウスストーカーの直径
  height: 30px;  //マウスストーカーの直径
  background: rgba(244, 216, 4, 0.8);
  border-radius: 50%;
  transition: transform 0.2s, top, 0.5s, left 0.5s, width .5s, height .5s, background-color .5s;
  transition-timing-function: ease-out;
  z-index: 998;
  &.hov_{
    top: -32px;     //大きさに合わせて座標調節
    left: -32px;    //大きさに合わせて座標調節
    width: 64px;
    height: 64px;
    transition: .5s;
    background: rgba(244, 216, 4, 0.8);
  }
}
// header
.header-wrapper {
  background-color: aquamarine;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  #ham-nav {
    display: none;
  }
  .nav-menu {
    display: flex;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        color: #000;
        margin-left: 10px;
      }
    }
  }
  #ham-line {
    display: none;
  }
  .in {
    transform: translateX(-100%);
  }
 
  .line_1 {
    transform: translateY(20px) rotate(-45deg);
    top: 0;
  }
  .line_2 {
    opacity: 0;
  }
  .line_3 {
    transform: translateY(-20px) rotate(45deg);
    bottom: 0;
  }
}
// main
.main-wrapper {
  background-color: rgb(238, 233, 233);
  height: 1000px;
  padding: 115px 20px 20px;
}
// footer
.footer-wrapper {
  background-color: plum;
  padding: 20px;
}

@media (max-width: 650px) {
  .header-wrapper {
    .nav {
      display: none;
    }
    #ham-nav {
      display: block;
      position: absolute;
      top: 0;
      height: 100vh;
      background-color: #fff;
      width: 30%;
      right: -30%;
      padding-top: 100px;
      transition: .7s;
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          font-size: 20px;
          text-align: center;
          padding: 10px;
          a {
            text-decoration: none;
            color: black;
            padding: 10px 25px;
            &:hover {
              background: rgb(71, 160, 255);
              color: white;
              transition: .5s;
            }
          }
        } 
      }
    }
    #ham-line {
      display: block;
      position: absolute;
      top: 25px;
      right: 20px;
      height: 44px;
      width: 50px;
      cursor: none;
      transition: 1s;
      .inner-line {
        display: block;
        position: absolute;
        background-color: #000;
        left: 0;
        width: 50px;
        height: 3px;
        transition: 1s;
        border-radius: 4px;
      }
      #line1 {
        top: 0;
      }
      #line2 {
        top: 20px;
      }
      #line3 {
        bottom: 0;
      }
    }
  }
}